.about {
  width: 75%;
  background-color: #d4e1e1;
  padding: 80px 80px 20px 80px;
}

.main-titel {
  text-align: center;
  color: black;
  font-size: 42px;
  font-weight: 700;
}

.speciality_title {
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

.benefits {
  padding: 10px 0 0 10px;
  font-style: italic;
}

.summary_title,
.project_title,
.work_title,
.education-title {
  text-align: center;
  color: black;
  padding: 20px;

}

.project-item {
  margin-top: 10px;
}

.project-item__box-link {
  width: 53%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.project-item_lang {
  font-size: 14px;
}

.project-item_titel,
.project-item_link {
  text-decoration: none;
  color: #B8860B;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);

  &:hover {
    color: rgb(218, 54, 54);
    transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);
  }
}

.project-item_link {
  font-size: 16px;
  color: #5e052a;
  transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);

  &:hover {
    color: rgb(150, 86, 94);
    transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);
  }
}

.project-item__box-text,
.work-item__box,
.education-item__box {
  margin-left: 10px;
}

.work-item,
.education-item {
  padding: 10px 0;
}

.description-item {
  list-style-type: disc;
  color: #c48322;
  margin-left: 15px;

  &__text {
    color: black;
  }
}

.work-item_title,
.education-item_title {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  color: rgb(102, 47, 8);
  font-weight: 600;

}

.work-item_description,
.education-item_speciality {
  font-size: 18px;
  font-weight: 500;

}

.work-item_date,
.education-item_date {
  color: rgb(133, 126, 126);
  font-size: 14px;
  font-weight: 600;
}

.work-item__experience {
  margin-top: 10px;
}