.sidebar {
  color: #fff;
  padding: 20px 0px 20px 0px;
  background-color: rgb(88, 92, 107);
  width: 25%;
}

.title-box {
  width: 100%;
  background-color: rgb(75, 80, 99);
}

.contacts-title,
.softSkills-title,
.techSkills-title,
.languages-title {
  margin: 20px 20px 20px 30px;
}

.techSkills-title {
  padding-top: 0;
}

.photo {
  width: calc(100% - 40px);
  height: auto;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.location {
  margin-left: 30px;
  font-size: 20px;
  font-weight: 600;
}

.contacts-item__tel,
.contacts-item__mail {
  margin-left: 3%;
}

.fa-phone,
.fa-envelope {
  color: #ffffff;
  margin-right: 30px;
  transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);

  &:hover,
  :focus {
    color: #c48322;
    transform: scale(1.2, 1.1);
    transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);
  }
}

.contacts-item_link__tel,
.contacts-item_link__mail {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  margin-left: 20px;
  line-height: 185%;
}

.contacts-item_social {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  gap: 25px;
  list-style: none;
}

.icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  fill: #c48322;
  transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);

  &:hover,
  :focus {
    transform: scale(1.2, 1.1);
    fill: #b69c82;
    transition: all 0.4s cubic-bezier(0.42, 0, 1, 1);
  }
}

.techSkills-item,
.softSkills-item,
.languages-item {
  list-style-type: disc;
  color: #c48322;
  margin: 0 0 10px 20%;
}

.techSkills-item_name,
.softSkills-item_name,
.languages-item_name,
.box-tex {
  font-size: 16px;
  line-height: 90%;
  color: #fff;
}

.box-tex {
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}