.conteiner {
  background-color: antiquewhite;
  box-shadow: 3px 3px 5px #696969;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  display: flex;
  flex-direction: row;
  @include mobile {
    padding: 10px;
    width: 480px;
  }
  @include table {
    padding: 20px;
    width: 768px;
  }
  @include desktop {
    width: 1200px;
  }
}
